# Collect results (Machine Translation)

In [ ]:
import numpy as np
import pandas as pd
from collections import defaultdict
from utils import detrend_ue
from pathlib import Path
import pathlib


methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
    'TokenSAR':'TokenSAR'
}

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
    'eurollm': 'EuroLLM 9B',
}

DATASETS = {
    'metricx-metricx-24-hybrid-xxl-v2p6': [
        'wmt14_csen', 'wmt14_deen', 'wmt14_ruen', 'wmt14_fren',
        'wmt19_deen', 'wmt19_fien', 'wmt19_lten', 'wmt19_ruen',
    ],
    'XComet-XCOMET-XXL': [
        'wmt14_csen', 'wmt14_deen', 'wmt14_ruen', 'wmt14_fren',
        'wmt19_deen', 'wmt19_fien', 'wmt19_lten', 'wmt19_ruen',
    ],
    'Comet-wmt22-comet-da': [
        'wmt14_csen', 'wmt14_deen', 'wmt14_ruen', 'wmt14_fren',
        'wmt19_deen', 'wmt19_fien', 'wmt19_lten', 'wmt19_ruen',
    ]
}

METRICS = {
    'metricx-metricx-24-hybrid-xxl-v2p6': 'MetricX XXL',
    'XComet-XCOMET-XXL': 'XComet XXL',
    'Comet-wmt22-comet-da': 'Comet WMT22',
}


def main():
    rows = []  # will accumulate dicts with columns: model, dataset, metric, method, prr_score

    for metric_key, metric_name in METRICS.items():
        datasets = DATASETS[metric_key]
        

        for model_key, model_name in MODELS.items():
            ue_methods = list(methods_dict.values())

            ue_scores, _, _ = detrend_ue(
                datasets,
                model_key,
                [metric_key],
                ue_methods,
                methods_dict
            )

            for method_full, method_short in methods_dict.items():
                raw_scores = ue_scores[f"{method_short}_raw"]
                detr_scores = ue_scores[f"{method_short}_detr"]

                for dataset_name, raw, detr in zip(datasets, raw_scores, detr_scores):
                    # raw row (method name unchanged)
                    rows.append({
                        "model": model_name,
                        "dataset": dataset_name,
                        "metric": metric_name,
                        "method": method_short,
                        "prr_score": float(raw),
                    })
                    # detrended row (method-LINE)
                    rows.append({
                        "model": model_name,
                        "dataset": dataset_name,
                        "metric": metric_name,
                        "method": f"{method_short}-LINE",
                        "prr_score": float(detr),
                    })

    # write single CSV with all metrics/models/datasets/methods
    df = pd.DataFrame(rows, columns=["model", "dataset", "metric", "method", "prr_score"])
    out_path = Path("results") / "mt_results.csv"
    df.to_csv(out_path, index=False)
    print(f"Wrote {out_path.resolve()} with {len(df)} rows.")

if __name__ == "__main__":
    main()

In [ ]:
import pandas as pd


df = pd.read_csv("results/mt_results.csv")


import numpy as np
from IPython.display import display, Markdown


methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
    'TokenSAR':'TokenSAR'
}
method_order = [v for v in methods_dict.values()]
method_display_order = [m for pair in zip(method_order, [m + "-LINE" for m in method_order]) for m in pair]

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
    'eurollm': 'EuroLLM 9B',
}
model_display_order = list(MODELS.values())

DATASETS = {
    'metricx-metricx-24-hybrid-xxl-v2p6': [
        'wmt14_csen','wmt14_deen','wmt14_ruen','wmt14_fren',
        'wmt19_deen','wmt19_fien','wmt19_lten','wmt19_ruen',
    ],
    'XComet-XCOMET-XXL': [
        'wmt14_csen','wmt14_deen','wmt14_ruen','wmt14_fren',
        'wmt19_deen','wmt19_fien','wmt19_lten','wmt19_ruen',
    ],
    'Comet-wmt22-comet-da': [
        'wmt14_csen','wmt14_deen','wmt14_ruen','wmt14_fren',
        'wmt19_deen','wmt19_fien','wmt19_lten','wmt19_ruen',
    ]
}

# ---- highlighter: best = bold, second = underline (ties handled) ----
def highlight_best_second(col: pd.Series):
    if col.dtype.kind not in "fi":
        return [''] * len(col)
    vals = col.astype(float)
    uniq_sorted = np.unique(vals[~vals.isna()])[::-1]  # desc unique
    best = uniq_sorted[0] if len(uniq_sorted) > 0 else np.nan
    second = uniq_sorted[1] if len(uniq_sorted) > 1 else np.nan

    styles = []
    for v in vals:
        if pd.isna(v):
            styles.append('')
        elif np.isclose(v, best, rtol=1e-9, atol=1e-12):
            styles.append('font-weight: bold;')
        elif not np.isnan(second) and np.isclose(v, second, rtol=1e-9, atol=1e-12):
            styles.append('text-decoration: underline;')
        else:
            styles.append('')
    return styles

def show_metric_tables(df_in: pd.DataFrame, metric_name: str):
    display(Markdown(f"## {metric_name}"))
    metric_df = df_in[df_in["metric"] == metric_name].copy()

    candidate_order = None
    for ds_list in DATASETS.values():
        if set(ds_list).issubset(set(metric_df["dataset"].unique())):
            candidate_order = ds_list
            break
    if candidate_order is None:
        candidate_order = list(metric_df["dataset"].unique())

    for model_name in model_display_order:
        block = metric_df[metric_df["model"] == model_name]
        if block.empty:
            continue

        piv = block.pivot_table(
            index="method", columns="dataset", values="prr_score", aggfunc="mean"
        )
        piv = piv.reindex(index=method_display_order)
        piv = piv.reindex(columns=[c for c in candidate_order if c in piv.columns])

        styled = (
            piv.round(3)
               .style
               .apply(highlight_best_second, axis=0)
               .set_caption(model_name)
        )
        display(styled)

for metric_name in df["metric"].unique():
    show_metric_tables(df, metric_name)

## MetricX XXL

## XComet XXL

## Comet WMT22

# Write to latex

In [ ]:
import os
import numpy as np
import pandas as pd

methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
    'TokenSAR':'TokenSAR'
}
method_order = [v for v in methods_dict.values()]
method_display_order = [m for pair in zip(method_order, [m + "-LINE" for m in method_order]) for m in pair]

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
    'eurollm': 'EuroLLM 9B',
}
model_display_order = list(MODELS.values())

DATASETS = {
    'metricx-metricx-24-hybrid-xxl-v2p6': [
        'wmt14_csen','wmt14_deen','wmt14_ruen','wmt14_fren',
        'wmt19_deen','wmt19_fien','wmt19_lten','wmt19_ruen',
    ],
    'XComet-XCOMET-XXL': [
        'wmt14_csen','wmt14_deen','wmt14_ruen','wmt14_fren',
        'wmt19_deen','wmt19_fien','wmt19_lten','wmt19_ruen',
    ],
    'Comet-wmt22-comet-da': [
        'wmt14_csen','wmt14_deen','wmt14_ruen','wmt14_fren',
        'wmt19_deen','wmt19_fien','wmt19_lten','wmt19_ruen',
    ]
}

def _choose_dataset_order(metric_df: pd.DataFrame) -> list[str]:
    cand = None
    for ds_list in DATASETS.values():
        if set(ds_list).issubset(set(metric_df["dataset"].unique())):
            cand = ds_list
            break
    if cand is None:
        cand = list(metric_df["dataset"].unique())
    return cand

def _format_with_rankings(col: pd.Series, ndigits: int = 3) -> pd.Series:
    vals = pd.to_numeric(col, errors="coerce")
    uniq = np.unique(vals[~vals.isna()])
    if uniq.size == 0:
        best = second = np.nan
    else:
        uniq.sort()           # ascending
        uniq = uniq[::-1]     # descending
        best = uniq[0]
        second = uniq[1] if uniq.size > 1 else np.nan

    out = []
    for v in vals:
        if pd.isna(v):
            out.append("--")
            continue
        s = f"{v:.{ndigits}f}"
        if np.isfinite(best) and np.isclose(v, best, rtol=1e-9, atol=1e-12):
            out.append(r"\textbf{" + s + "}")
        elif np.isfinite(second) and np.isclose(v, second, rtol=1e-9, atol=1e-12):
            out.append(r"\underline{" + s + "}")
        else:
            out.append(s)
    return pd.Series(out, index=col.index)

def generate_latex_tables(
    df_in: pd.DataFrame,
    value_col: str = "prr_score",
    out_dir: str = "latex_tables",
    ndigits: int = 2,
    table_env: str = "table",     
    use_booktabs: bool = True
) -> dict:
    """
    Generate LaTeX tables for each (metric, model) slice.
    Returns a dict: {(metric, model): filepath}.
    """
    os.makedirs(out_dir, exist_ok=True)
    paths = {}

    for metric_name in df_in["metric"].unique():
        metric_df = df_in[df_in["metric"] == metric_name].copy()
        dataset_order = _choose_dataset_order(metric_df)

        for model_name in model_display_order:
            block = metric_df[metric_df["model"] == model_name]
            if block.empty:
                continue

            piv = block.pivot_table(
                index="method", columns="dataset", values=value_col, aggfunc="mean"
            )

            # enforce display order
            piv = piv.reindex(index=method_display_order)
            piv = piv.reindex(columns=[c for c in dataset_order if c in piv.columns])

            fmt = piv.apply(_format_with_rankings, axis=0, ndigits=ndigits)

            fmt = fmt.fillna("--")

            colfmt = "l" + "r" * fmt.shape[1]

            caption = f"{model_name} — {metric_name}"
            label = f"tab:{metric_name.replace(' ', '_')}__{model_name.replace(' ', '_')}"

            latex = fmt.to_latex(
                escape=False,           
                index=True,
                caption=caption,
                label=label,
                na_rep="--",
                column_format=colfmt,
                bold_rows=False,
                longtable=False
            )

            if use_booktabs:
                pass

            latex = latex.replace("\\begin{tabular}", "\\begin{tabular}")
            if "method" in (piv.index.names or []) or True:
                lines = latex.splitlines()
                try:
                    top_idx = next(i for i,l in enumerate(lines) if r"\toprule" in l)
                    header_idx = top_idx + 1
                    header_line = lines[header_idx]
                    if header_line.startswith("{}"):
                        lines[header_idx] = header_line.replace("{}", r"\textbf{Method}", 1)
                    elif header_line.startswith("&"):
                        lines[header_idx] = r"\textbf{Method} " + header_line
                    latex = "\n".join(lines)
                except StopIteration:
                    pass

            # write out
            safe_metric = "".join(ch if ch.isalnum() or ch in "-_." else "_" for ch in metric_name)
            safe_model = "".join(ch if ch.isalnum() or ch in "-_." else "_" for ch in model_name)
            fname = f"{safe_metric}__{safe_model}.tex"
            fpath = os.path.join(out_dir, fname)
            with open(fpath, "w", encoding="utf-8") as f:
                f.write(latex)

            paths[(metric_name, model_name)] = fpath

    return paths


df= pd.read_csv('results/mt_results.csv')
paths = generate_latex_tables(df)
for (metric, model), p in paths.items():
    print(f"{metric} | {model} -> {p}")

MetricX XXL | Llama 3.1 8B -> latex_tables/MetricX_XXL__Llama_3.1_8B.tex
MetricX XXL | Gemma 2 9B -> latex_tables/MetricX_XXL__Gemma_2_9B.tex
MetricX XXL | EuroLLM 9B -> latex_tables/MetricX_XXL__EuroLLM_9B.tex
XComet XXL | Llama 3.1 8B -> latex_tables/XComet_XXL__Llama_3.1_8B.tex
XComet XXL | Gemma 2 9B -> latex_tables/XComet_XXL__Gemma_2_9B.tex
XComet XXL | EuroLLM 9B -> latex_tables/XComet_XXL__EuroLLM_9B.tex
Comet WMT22 | Llama 3.1 8B -> latex_tables/Comet_WMT22__Llama_3.1_8B.tex
Comet WMT22 | Gemma 2 9B -> latex_tables/Comet_WMT22__Gemma_2_9B.tex
Comet WMT22 | EuroLLM 9B -> latex_tables/Comet_WMT22__EuroLLM_9B.tex

# Collect results (Summarization and Math Reasoning)

In [ ]:
from utils import detrend_ue_w_quality
from pathlib import Path


MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
}

DATASETS = {
    'Accuracy': [
        'gsm8k'
    ],
    'AlignScoreInputOutput': [
        'xsum'
    ]
}

METRICS = {
    'Accuracy': 'Accuracy',
    'AlignScoreInputOutput': 'Align Score',
}


def main():
    rows = []  

    for metric_key, metric_name in METRICS.items():
        datasets = DATASETS[metric_key]
        ue_methods = list(methods_dict.values())

        for model_key, model_name in MODELS.items():
            ue_scores, _, _ = detrend_ue_w_quality(
                datasets,
                model_key,
                [metric_key],
                ue_methods,
                methods_dict
            )

            for method_full, method_short in methods_dict.items():
                raw_scores = ue_scores[f"{method_short}_raw"]
                detr_scores = ue_scores[f"{method_short}_detr"]

                for dataset_name, raw, detr in zip(datasets, raw_scores, detr_scores):
                    rows.append({
                        "model": model_name,
                        "dataset": dataset_name,
                        "metric": metric_name,
                        "method": method_short,
                        "prr_score": float(raw),
                    })
                    # detrended row (method-LINE)
                    rows.append({
                        "model": model_name,
                        "dataset": dataset_name,
                        "metric": metric_name,
                        "method": f"{method_short}-LINE",
                        "prr_score": float(detr),
                    })

    df = pd.DataFrame(rows, columns=["model", "dataset", "metric", "method", "prr_score"])
    out_path = Path("results") / "sum_mr_results.csv"
    df.to_csv(out_path, index=False)
    print(f"Wrote {out_path.resolve()} with {len(df)} rows.")

if __name__ == "__main__":
    main()

In [ ]:


df = pd.read_csv("results/sum_mr_results.csv")


import numpy as np
from IPython.display import display, Markdown


methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
    'TokenSAR':'TokenSAR'
}
method_order = [v for v in methods_dict.values()]
method_display_order = [m for pair in zip(method_order, [m + "-LINE" for m in method_order]) for m in pair]

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
}
model_display_order = list(MODELS.values())


DATASETS = {
    'Accuracy': [
        'gsm8k'
    ],
    'AlignScoreInputOutput': [
        'xsum'
    ]
}

METRICS = {
    'Accuracy': 'Accuracy',
    'AlignScoreInputOutput': 'Align Score',
}

def highlight_best_second(col: pd.Series):
    if col.dtype.kind not in "fi":
        return [''] * len(col)
    vals = col.astype(float)
    uniq_sorted = np.unique(vals[~vals.isna()])[::-1]  # desc unique
    best = uniq_sorted[0] if len(uniq_sorted) > 0 else np.nan
    second = uniq_sorted[1] if len(uniq_sorted) > 1 else np.nan

    styles = []
    for v in vals:
        if pd.isna(v):
            styles.append('')
        elif np.isclose(v, best, rtol=1e-9, atol=1e-12):
            styles.append('font-weight: bold;')
        elif not np.isnan(second) and np.isclose(v, second, rtol=1e-9, atol=1e-12):
            styles.append('text-decoration: underline;')
        else:
            styles.append('')
    return styles

def show_metric_tables(df_in: pd.DataFrame, metric_name: str):
    display(Markdown(f"## {metric_name}"))
    metric_df = df_in[df_in["metric"] == metric_name].copy()

    candidate_order = None
    for ds_list in DATASETS.values():
        if set(ds_list).issubset(set(metric_df["dataset"].unique())):
            candidate_order = ds_list
            break
    if candidate_order is None:
        candidate_order = list(metric_df["dataset"].unique())

    for model_name in model_display_order:
        block = metric_df[metric_df["model"] == model_name]
        if block.empty:
            continue

        piv = block.pivot_table(
            index="method", columns="dataset", values="prr_score", aggfunc="mean"
        )
        piv = piv.reindex(index=method_display_order)
        piv = piv.reindex(columns=[c for c in candidate_order if c in piv.columns])

        styled = (
            piv.round(3)
               .style
               .apply(highlight_best_second, axis=0)
               .set_caption(model_name)
        )
        display(styled)

for metric_name in df["metric"].unique():
    show_metric_tables(df, metric_name)

## Accuracy

## Align Score

In [ ]:
import os
import numpy as np
import pandas as pd
df = pd.read_csv("results/sum_mr_results.csv")

import os
import numpy as np
import pandas as pd

methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
    'TokenSAR':'TokenSAR'
}
method_order = [v for v in methods_dict.values()]
method_display_order = [m for pair in zip(method_order, [m + "-LINE" for m in method_order]) for m in pair]

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
}
model_display_order = list(MODELS.values())

COLUMN_SPECS = [
        {"col": "xsum",  "metric": "Align Score", "pretty": "Align Score"},

    {"col": "gsm8k", "metric": "Accuracy", "pretty": "Accuracy"},
]

def _format_with_rankings(col: pd.Series, ndigits: int = 3) -> pd.Series:
    """Return a string-formatted column with best bolded and second underlined (ties respected)."""
    vals = pd.to_numeric(col, errors="coerce")
    uniq = np.unique(vals[~vals.isna()])
    if uniq.size == 0:
        best = second = np.nan
    else:
        uniq.sort()
        uniq = uniq[::-1]  # desc
        best = uniq[0]
        second = uniq[1] if uniq.size > 1 else np.nan

    out = []
    for v in vals:
        if pd.isna(v):
            out.append("--")
            continue
        s = f"{v:.{ndigits}f}"
        if np.isfinite(best) and np.isclose(v, best, rtol=1e-9, atol=1e-12):
            out.append(r"\textbf{" + s + "}")
        elif np.isfinite(second) and np.isclose(v, second, rtol=1e-9, atol=1e-12):
            out.append(r"\underline{" + s + "}")
        else:
            out.append(s)
    return pd.Series(out, index=col.index)

def generate_latex_tables_mixed_metrics(
    df_in: pd.DataFrame,
    value_col: str = "prr_score",
    out_dir: str = "latex_tables",
    ndigits: int = 2,
) -> dict:
  
    os.makedirs(out_dir, exist_ok=True)
    paths = {}

    for model_name in model_display_order:
        cols = {}
        for spec in COLUMN_SPECS:
            sub = df_in[
                (df_in["model"] == model_name)
                & (df_in["dataset"] == spec["col"])
                & (df_in["metric"] == spec["metric"])
            ]
            s = (
                sub.pivot_table(
                    index="method", values=value_col, aggfunc="mean"
                )[value_col]
                if not sub.empty else pd.Series(dtype=float)
            )
            cols[spec["col"]] = s

        block = pd.DataFrame(cols)

        block = block.reindex(index=method_display_order)
        block = block.reindex(columns=[spec["col"] for spec in COLUMN_SPECS])

        fmt = block.apply(_format_with_rankings, axis=0, ndigits=ndigits).fillna("--")

        colfmt = "l" + "r" * fmt.shape[1]

        col_metric_parts = [f"{spec['col']} ({spec['pretty']})" for spec in COLUMN_SPECS]
        caption = f"{model_name} — " + " vs. ".join(col_metric_parts)
        label = f"tab:{model_name.replace(' ', '_')}__gsm8k_xsum"

        latex = fmt.to_latex(
            escape=False,          
            index=True,
            caption=caption,
            label=label,
            na_rep="--",
            column_format=colfmt,
            bold_rows=False,
            longtable=False
        )

        lines = latex.splitlines()
        try:
            top_idx = next(i for i, l in enumerate(lines) if r"\toprule" in l)
            header_idx = top_idx + 1
            if lines[header_idx].startswith("{}"):
                lines[header_idx] = lines[header_idx].replace("{}", r"\textbf{Method}", 1)
            elif lines[header_idx].startswith("&"):
                lines[header_idx] = r"\textbf{Method} " + lines[header_idx]
            latex = "\n".join(lines)
        except StopIteration:
            pass

        safe_model = "".join(ch if ch.isalnum() or ch in "-_." else "_" for ch in model_name)
        fname = f"{safe_model}__gsm8k_xsum.tex"
        fpath = os.path.join(out_dir, fname)
        with open(fpath, "w", encoding="utf-8") as f:
            f.write(latex)

        paths[model_name] = fpath

    return paths

paths = generate_latex_tables_mixed_metrics(df)
for model, p in paths.items():
    print(model, "->", p)

Llama 3.1 8B -> latex_tables/Llama_3.1_8B__gsm8k_xsum.tex
Gemma 2 9B -> latex_tables/Gemma_2_9B__gsm8k_xsum.tex

# Results with smaller sample size

In [ ]:
from utils import detrend_ue_w_quality

import numpy as np
import pandas as pd
from collections import defaultdict
from pathlib import Path


methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
    'TokenSAR':'TokenSAR'
}

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
}

DATASETS = {
    'Accuracy': [
        'gsm8k'
    ],
    'AlignScoreInputOutput': [
        'xsum'
    ]
}

METRICS = {
    'Accuracy': 'Accuracy',
    'AlignScoreInputOutput': 'Align Score',
}


def main():
    rows = []  
    for metric_key, metric_name in METRICS.items():
        datasets = DATASETS[metric_key]
        ue_methods = list(methods_dict.values())

        for model_key, model_name in MODELS.items():
            ue_scores, _, _ = detrend_ue_w_quality(
                datasets,
                model_key,
                [metric_key],
                ue_methods,
                methods_dict,
                quality_fit_sample_size=500
            )

            for method_full, method_short in methods_dict.items():
                raw_scores = ue_scores[f"{method_short}_raw"]
                detr_scores = ue_scores[f"{method_short}_detr"]

                for dataset_name, raw, detr in zip(datasets, raw_scores, detr_scores):
                    # raw row (method name unchanged)
                    rows.append({
                        "model": model_name,
                        "dataset": dataset_name,
                        "metric": metric_name,
                        "method": method_short,
                        "prr_score": float(raw),
                    })
                    # detrended row (method-LINE)
                    rows.append({
                        "model": model_name,
                        "dataset": dataset_name,
                        "metric": metric_name,
                        "method": f"{method_short}-LINE",
                        "prr_score": float(detr),
                    })

    # write single CSV with all metrics/models/datasets/methods
    df = pd.DataFrame(rows, columns=["model", "dataset", "metric", "method", "prr_score"])
    out_path = Path("results") / "sum_mr_results_500.csv"
    df.to_csv(out_path, index=False)
    print(f"Wrote {out_path.resolve()} with {len(df)} rows.")

if __name__ == "__main__":
    main()

In [ ]:
import pandas as pd


sample_500 = pd.read_csv("results/sum_mr_results_500.csv")

sample_full = pd.read_csv("results/sum_mr_results.csv")



import pandas as pd
import numpy as np
from IPython.display import display, Markdown

# expects these to already exist:
# sample_full, sample_500  with columns: model, dataset, metric, method, prr_score

# ---- split out the three variants ----
cols = ["model","dataset","metric","method","prr_score"]
full_raw  = sample_full.loc[~sample_full["method"].str.endswith("-LINE"), cols].copy()
full_detr = sample_full.loc[ sample_full["method"].str.endswith("-LINE"), cols].copy()
s500_detr = sample_500.loc[ sample_500["method"].str.endswith("-LINE"), cols].copy()

# normalize to base method name (no suffix)
for df in (full_detr, s500_detr):
    df["method_base"] = df["method"].str.replace("-LINE","", regex=False)
full_raw["method_base"] = full_raw["method"]

full_raw["variant"]  = "raw"
s500_detr["variant"] = "500"
full_detr["variant"] = "full"

full_raw["method_display"]  = full_raw["method_base"]
s500_detr["method_display"] = s500_detr["method_base"] + "-LINE (500 sample)"
full_detr["method_display"] = full_detr["method_base"] + "-LINE (Full sample)"

full_raw["variant_order"]  = 0
s500_detr["variant_order"] = 1
full_detr["variant_order"] = 2

combined = pd.concat([full_raw, s500_detr, full_detr], ignore_index=True)

method_order = ["MSP","PPL","MTE","MCSE","MCNSE","LSRL"]
present_methods = [m for m in method_order if m in combined["method_base"].unique()]


if not present_methods:
    present_methods = list(combined["method_base"].unique())

def highlight_best_second(col: pd.Series):
    if col.dtype.kind not in "fi":
        return [''] * len(col)
    vals = col.astype(float)
    uniq = np.unique(vals[~vals.isna()])[::-1]
    best = uniq[0] if len(uniq) else np.nan
    second = uniq[1] if len(uniq) > 1 else np.nan
    out = []
    for v in vals:
        if pd.isna(v): out.append('')
        elif np.isclose(v, best): out.append('font-weight: bold;')
        elif not np.isnan(second) and np.isclose(v, second): out.append('text-decoration: underline;')
        else: out.append('')
    return out

for model in combined["model"].unique():
    block = combined[combined["model"] == model].copy()

    dataset_order = sorted(block["dataset"].unique())

    block["method_base"] = pd.Categorical(block["method_base"], categories=present_methods, ordered=True)
    block = block.sort_values(["method_base","variant_order"])

    piv = (block
           .pivot_table(index=["method_base","variant_order","method_display"],
                        columns="dataset", values="prr_score", aggfunc="mean")
           .reindex(columns=dataset_order)
           .sort_index(level=[0,1])
          )

    piv = piv.reset_index().set_index("method_display").drop(columns=["method_base","variant_order"])
    styled = (piv.round(4)
                 .style
                 .apply(highlight_best_second, axis=0)
                 .set_caption(model))

    display(Markdown(f"### {model}"))
    display(styled)

/tmp/ipykernel_4024775/702947106.py:77: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  piv = (block

### Llama 3.1 8B

/tmp/ipykernel_4024775/702947106.py:77: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  piv = (block

### Gemma 2 9B

# Results with 1-3 degrees polynomial fits

In [ ]:
import numpy as np
import pandas as pd
from collections import defaultdict
from utils import detrend_ue_degreed 
from pathlib import Path

methods_dict = {
    'MaximumSequenceProbability': 'MSP',
    'Perplexity': 'PPL',
    'MeanTokenEntropy': 'MTE',
    'MonteCarloSequenceEntropy': 'MCSE',
    'MonteCarloNormalizedSequenceEntropy': 'MCNSE',
    'LexicalSimilarity_rougeL': 'LSRL',
}

MODELS = {
    'llama': 'Llama 3.1 8B',
    'gemma': 'Gemma 2 9B',
    'eurollm': 'EuroLLM 9B',
}

DATASETS = {
    'metricx-metricx-24-hybrid-xxl-v2p6': [
        'wmt14_csen', 'wmt14_deen', 'wmt14_ruen', 'wmt14_fren',
        'wmt19_deen', 'wmt19_fien', 'wmt19_lten', 'wmt19_ruen',
    ],
    'XComet-XCOMET-XXL': [
        'wmt14_csen', 'wmt14_deen', 'wmt14_ruen', 'wmt14_fren',
        'wmt19_deen', 'wmt19_fien', 'wmt19_lten', 'wmt19_ruen',
    ],
    'Comet-wmt22-comet-da': [
        'wmt14_csen', 'wmt14_deen', 'wmt14_ruen', 'wmt14_fren',
        'wmt19_deen', 'wmt19_fien', 'wmt19_lten', 'wmt19_ruen',
    ],
}

METRICS = {
    'metricx-metricx-24-hybrid-xxl-v2p6': 'MetricX XXL',
    'XComet-XCOMET-XXL': 'XComet XXL',
    'Comet-wmt22-comet-da': 'Comet WMT22',
}

def main():
    rows = []  # columns: model, dataset, metric, method, prr_score, correction
    coef_rows = []  # columns: model, dataset, metric, method, degree, coef_idx, coef_val

    for metric_key, metric_name in METRICS.items():
        datasets = DATASETS[metric_key]
        ue_methods = list(methods_dict.values())

        for model_key, model_name in MODELS.items():
            ue_scores, ue_coefs, _ = detrend_ue_degreed(
                datasets,
                model_key,
                [metric_key],
                ue_methods,
                methods_dict
            )

            # Flatten scores
            for method_full, method_short in methods_dict.items():
                method_keys = [
                    (f"{method_short}_raw", "RAW"),
                    (f"{method_short}_deg1", "DEG1"),
                    (f"{method_short}_deg2", "DEG2"),
                    (f"{method_short}_deg3", "DEG3"),
                ]

                # Each key maps to a list aligned with `datasets`
                for key, corr in method_keys:
                    scores = ue_scores.get(key, [])
                    for dataset_name, score in zip(datasets, scores):
                        rows.append({
                            "model": model_name,
                            "dataset": dataset_name,
                            "metric": metric_name,
                            "method": method_short,
                            "correction": corr,
                            "prr_score": float(score),
                        })

                # Optionally also flatten the regression coefficients per degree
                for deg in (1, 2, 3):
                    coef_key = f"{method_short}_deg{deg}"
                    coef_list = ue_coefs.get(coef_key, [])
                    # coef_list has one coef array per dataset (matching order in `datasets`)
                    for dataset_name, coef_arr in zip(datasets, coef_list):
                        # Some degrees have 1 feature, some more (poly features)
                        for i, c in enumerate(np.ravel(coef_arr)):
                            coef_rows.append({
                                "model": model_name,
                                "dataset": dataset_name,
                                "metric": metric_name,
                                "method": method_short,
                                "degree": deg,
                                "coef_idx": i,
                                "coef_val": float(c),
                            })

    # Write the main experimental results
    df = pd.DataFrame(rows, columns=["model", "dataset", "metric", "method", "correction", "prr_score"])
    out_dir = Path("results")
    out_dir.mkdir(parents=True, exist_ok=True)
    out_path = out_dir / "mt_polynomials_results.csv"
    df.to_csv(out_path, index=False)
    print(f"Wrote {out_path.resolve()} with {len(df)} rows.")

if __name__ == "__main__":
    main()

In [ ]:
import pandas as pd

df = pd.read_csv("results/mt_polynomials_results.csv")


CORR_ORDER = ["RAW", "DEG1", "DEG2", "DEG3"]
CORR_ORDER_MAP = {c: i for i, c in enumerate(CORR_ORDER)}

def format_table_for_model_metric(df, model_name, metric_name):
    sub = df[(df["model"] == model_name) & (df["metric"] == metric_name)].copy()
    if sub.empty:
        return None

    sub["corr_order"] = sub["correction"].map(CORR_ORDER_MAP).fillna(999).astype(int)
    sub = sub.sort_values(["method", "corr_order"])
    sub["method_corr"] = sub["method"] + "-" + sub["correction"]

    pivot = sub.pivot_table(
        index="method_corr",
        columns="dataset",
        values="prr_score",
        aggfunc="mean"
    ).sort_index(key=lambda s: s.map(
        lambda x: (x.split("-", 1)[0], CORR_ORDER_MAP.get(x.split("-", 1)[1], 999))
    ))

    def style_top2(col: pd.Series):
        styles = [''] * len(col)
        valid = col.dropna()
        if valid.empty:
            return styles

        top_val = valid.max()
        second_candidates = valid[valid < top_val]
        second_val = second_candidates.max() if not second_candidates.empty else None

        for i, idx in enumerate(col.index):
            v = col.loc[idx]
            if pd.isna(v):
                continue
            if v == top_val:
                styles[i] = 'font-weight: bold;'
            elif second_val is not None and v == second_val:
                styles[i] = 'text-decoration: underline;'
        return styles

    styled = pivot.style.format("{:.2f}").apply(style_top2, axis=0)
    return styled

models = df["model"].dropna().unique()
metrics = df["metric"].dropna().unique()

for model in models:
    for metric in metrics:
        print(f"\n=== {model} | {metric} ===")
        st = format_table_for_model_metric(df, model, metric)
        if st is not None:
            display(st)
        else:
            print("(no data)")

=== Llama 3.1 8B | MetricX XXL ===

=== Llama 3.1 8B | XComet XXL ===

=== Llama 3.1 8B | Comet WMT22 ===

=== Gemma 2 9B | MetricX XXL ===

=== Gemma 2 9B | XComet XXL ===

=== Gemma 2 9B | Comet WMT22 ===

=== EuroLLM 9B | MetricX XXL ===

=== EuroLLM 9B | XComet XXL ===

=== EuroLLM 9B | Comet WMT22 ===